#search-section, #content-section  {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    text-align: center;
}
#search-section{
    position: sticky;
    top: 0;
    background-color: white;
}

.post-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
#content-section {
    overflow: scroll;
}

#sub-reddit {
    width: 200px;
}

#search-section input {
    padding: 10px;
    font-size: 12px;
}
#search-section > div {
    padding: 10px;
    margin-bottom: 40px;
}

#search-btn button {
    font-size: 15px;
    padding: 9px 15px;
    background: red;
    color: wheat;
    border: none;
}
.col img {
    margin-top: 8px;
    vertical-align: middle;
}
.col div {
    width: 85%;
    display: inline-block;
    padding: 10px;
}
  
@media (min-width: 800px) {
    .col {
        flex: 50%;
        max-width: 50%;
    }
}

@media (min-width: 1000px) {
    .col {
        flex: 25%;
        max-width: 25%;
        padding: 15px;
    }
}
@keyframes spinner {
    to {transform: rotate(360deg);}
}
   

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}

#page-info-section{
    position: sticky;
    top: 0;
    padding: 0 30px;
}